<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>

    <bean id="order" class="task1.Order">
        <constructor-arg name="item" value="New Order"/>
        <constructor-arg name="price" value="3.0"/>
    </bean>

    <bean id="oldOrder" class="task1.Order">
        <constructor-arg name="item" value="Old Order"/>
        <constructor-arg name="price" value="1.0"/>
    </bean>

    <bean id="gateway" class = "task1.PaymentGateway"/>
</beans>